<launch>
	<include file= "$(find cwru_baxter_sim)/baxter_world.launch"/>
	<include file= "$(find cwru_baxter_sim)/kinect_xform.launch"/>

	<node name= "traj_interpolator_as" pkg= "baxter_traj_streamer" type= "traj_interpolator_as"/>
	<node name= "enable_robot" pkg= "baxter_tools" type= "enable_robot" args="-file $(find baxter_tools)/enable_robot.py -py -e"/>
	<node name= "my_interesting_moves" pkg= "baxter_moves_library" type= "my_interesting_moves"/>
	<node name= "my_interesting_moves_usage" pkg= "baxter_moves_usage" type= "my_interesting_moves_usage"/>

</launch>