<launch>
<!-- assume either baxter_gazebo or real baxter is running  /-->
<!-- in either case, the robot model should be loaded on the parameter server before this launch file is run -->

<!-- launch gazebo simulation -->
<include file ="$(find cwru_baxter_sim)/baxter_world.launch"/>

<!-- enable the robot for motion commands-->
<node pkg="baxter_tools" type = "enable_robot.py" name="enable_robot" args="-e"/>


<!-- after robot is running and enabled, start up these nodes -->
<!-- tool transform publisher -->
<include file ="$(find cwru_baxter_launch)/yale_gripper_xform.launch"/>

<!--careful; need to use the right Kinect transform for real vs simulated robot -->
<!-- the following is for the simulated robot -->
<include file ="$(find cwru_baxter_sim)/kinect_xform.launch"/>

<!-- trajectory interpolator action server: -->
<node pkg="baxter_traj_streamer" type="traj_interpolator_as" name="traj_interpolator_as"/>

<!-- Cartesian motion action server -->
<node pkg="baxter_cartesian_moves" type="baxter_cart_move_as" name="baxter_cart_move_as"/>

<!-- rviz -->
<node pkg="rviz" type="rviz" name="rviz"/>

<!--the vision_guided_motion node -->
<node pkg="vision_guided_motion" type="vision_guided_motion" name="vision_guided_motion"/>

</launch>